textile (1).xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="retail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="c_id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:long" name="ph_no"/>
              <xs:element type="xs:byte" name="bill_no"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="e_id"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>